@charset "UTF-8";

* {
	-webkit-tap-highlight-color: transparent;
	outline: 0
}

blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul {
	margin: 0;
	padding: 0;
	vertical-align: baseline
}

img {
	border: 0 none;
	vertical-align: top
}

em,i {
	font-style: normal
}

ol,ul {
	list-style: none
}

button,h1,h2,h3,h4,h5,h6,input,select {
	font-size: 100%;
	font-family: inherit
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

a,a:visited {
	text-decoration: none;
	color: #333
}

body {
	min-width: 320px;
	max-width: 540px;
	background: #fff;
	font-size: 14px;
	font-family: -apple-system,Helvetica,sans-serif;
	line-height: 1.5;
	color: #666;
	-webkit-text-size-adjust: 100%!important;
	
	display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
    flex-flow: column;
    min-height: 100vh;
	
	margin: 0;
}

.wrapper {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

html {
	font-size: 20px;
	font-size: 5.33333vw
}

@media screen and (max-width:320px) {
	html {
		font-size: 17.07px
	}
}

@media screen and (min-width:540px) {
	html {
		font-size: 28.8px
	}
}

.hide {
	display: none!important
}

.pn_index {
	width: 100%;
	min-height: 100vh;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-color: #fca24a;
}
